Étape 0 : Import de bibliothéque

In [11]:
import pandas as pd
import os
import numpy as np
import matplotlib as plt
from sklearn.linear_model import LinearRegression

Étape 1 : Prise de connaissance du fichier lille_2022.csv

In [ ]:
import os
print(os.getcwd())

In [24]:
df = pd.read_csv("../data/lille_2022.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11354 entries, 0 to 11353
Data columns (total 44 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Identifiant de document     0 non-null      float64
 1   Reference document          0 non-null      float64
 2   1 Articles CGI              0 non-null      float64
 3   2 Articles CGI              0 non-null      float64
 4   3 Articles CGI              0 non-null      float64
 5   4 Articles CGI              0 non-null      float64
 6   5 Articles CGI              0 non-null      float64
 7   No disposition              11354 non-null  int64
 8   Date mutation               11354 non-null  object
 9   Nature mutation             11354 non-null  object
 10  Valeur fonciere             11354 non-null  float64
 11  No voie                     11248 non-null  float64
 12  B/T/Q                       652 non-null    object
 13  Type de voie                11328 non-null  object
 14  Code voie                   11354 non-null  object
 15  Voie                        11354 non-null  object
 16  Code postal                 11354 non-null  float64
 17  Commune                     11354 non-null  object
 18  Code departement            11354 non-null  int64
 19  Code commune                11354 non-null  int64
 20  Prefixe de section          1528 non-null   float64
 21  Section                     11354 non-null  object
 22  No plan                     11354 non-null  int64
 23  No Volume                   0 non-null      float64
 24  1er lot                     7682 non-null   float64
 25  Surface Carrez du 1er lot   2442 non-null   object
 26  2eme lot                    2601 non-null   float64
 27  Surface Carrez du 2eme lot  613 non-null    object
 28  3eme lot                    360 non-null    float64
 29  Surface Carrez du 3eme lot  75 non-null     object
 30  4eme lot                    106 non-null    float64
 31  Surface Carrez du 4eme lot  19 non-null     object
 32  5eme lot                    50 non-null     float64
 33  Surface Carrez du 5eme lot  16 non-null     object
 34  Nombre de lots              11354 non-null  int64
 35  Code type local             11354 non-null  float64
 36  Type local                  11354 non-null  object
 37  Identifiant local           0 non-null      float64
 38  Surface reelle bati         11354 non-null  float64
 39  Nombre pieces principales   11354 non-null  float64
 40  Nature culture              3672 non-null   object
 41  Nature culture speciale     0 non-null      float64
 42  Surface terrain             3672 non-null   float64
 43  prix_m2                     11354 non-null  float64
dtypes: float64(24), int64(5), object(15)
memory usage: 3.8+ MB

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,prix_m2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,0,1.0,Maison,NaN,82.0,5.0,S,NaN,70.0,2681.707317
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,2,2.0,Appartement,NaN,63.0,3.0,NaN,NaN,NaN,2936.507937
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,2,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN,inf
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN,inf
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN,inf

Étape 2 : Filtrer les biens de 4 pièces uniquement

In [ ]:
# Vérification  des colonnes du dataframe pour être sûr du nom exact
print(df.columns)

# Filtrage sur 4.0 (float)
df_4_pieces = df[df['Nombre pieces principales'] == 4].copy()

# Vérifier que le filtrage a fonctionné
print(df_4_pieces.shape)
print(df_4_pieces.head())

Index(['Identifiant de document', 'Reference document', '1 Articles CGI',
       '2 Articles CGI', '3 Articles CGI', '4 Articles CGI', '5 Articles CGI',
       'No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
       'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal',
       'Commune', 'Code departement', 'Code commune', 'Prefixe de section',
       'Section', 'No plan', 'No Volume', '1er lot',
       'Surface Carrez du 1er lot', '2eme lot', 'Surface Carrez du 2eme lot',
       '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot',
       'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot',
       'Nombre de lots', 'Code type local', 'Type local', 'Identifiant local',
       'Surface reelle bati', 'Nombre pieces principales', 'Nature culture',
       'Nature culture speciale', 'Surface terrain', 'prix_m2'],
      dtype='object')
(789, 44)
    Identifiant de document  Reference document  1 Articles CGI  \
18                      NaN                 NaN             NaN
23                      NaN                 NaN             NaN
26                      NaN                 NaN             NaN
58                      NaN                 NaN             NaN
62                      NaN                 NaN             NaN

    2 Articles CGI  3 Articles CGI  4 Articles CGI  5 Articles CGI  \
18             NaN             NaN             NaN             NaN
23             NaN             NaN             NaN             NaN
26             NaN             NaN             NaN             NaN
58             NaN             NaN             NaN             NaN
62             NaN             NaN             NaN             NaN

    No disposition Date mutation Nature mutation  ...  Nombre de lots  \
18               1    05/01/2022           Vente  ...               0
23               1    06/01/2022           Vente  ...               1
26               1    06/01/2022           Vente  ...               2
58               1    04/01/2022           Vente  ...               2
62               1    07/01/2022           Vente  ...               1

    Code type local   Type local Identifiant local Surface reelle bati  \
18              1.0       Maison               NaN               165.0
23              2.0  Appartement               NaN                92.0
26              2.0  Appartement               NaN                70.0
58              2.0  Appartement               NaN               105.0
62              2.0  Appartement               NaN               120.0

   Nombre pieces principales  Nature culture Nature culture speciale  \
18                       4.0               S                     NaN
23                       4.0             NaN                     NaN
26                       4.0             NaN                     NaN
58                       4.0             NaN                     NaN
62                       4.0             NaN                     NaN

    Surface terrain      prix_m2
18            121.0  1848.484848
23              NaN  3989.130435
26              NaN  2428.571429
58              NaN  3383.809524
62              NaN  3937.500000

[5 rows x 44 columns]

In [29]:
print(df['Nombre pieces principales'].dtype)
print(df['Nombre pieces principales'].unique())

float64
[ 5.  3.  0.  2.  1.  4.  7.  6.  8. 10. 14.  9. 12. 11. 13.]